<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMmm6epCer8vcru3XBjmvi81_e_OzzLAM</string>
	<key>GCM_SENDER_ID</key>
	<string>93779428981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.addCartApp</string>
	<key>PROJECT_ID</key>
	<string>fire-log-23c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-log-23c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93779428981:ios:0efd45f1c0b2715e83da3c</string>
</dict>
</plist>